*.[oa]
*.~
*/.deps/
/ABOUT-NLS
/INSTALL
/aclocal.m4
/autom4te.cache/
/autoscan.log
/build-aux
/config.cache
/config.log
/config.status
/configure
/configure.scan
/doc/jwhois.info
/jwhois-*.tar.gz
/jwhois-*.tar.gz.sig
/jwhois.spec
/lib/
/m4/
/po/*.gmo
/po/*.po
/po/.gitignore
/po/.reference/
/po/LINGUAS
/po/Makevars
/po/POTFILES
/po/jwhois.pot
/po/remove-potcdate.sed
/po/stamp-po
/src/config.h
/src/config.h.in
/src/jwhois
/src/stamp-h1
Makefile
Makefile.in
TAGS
